@import '../../../../style/theme.scss';

.blog .tags {
  margin-top: 10px;
  font-weight: lighter;
  display: flex;
  li {
    margin-right: 5px;
    padding: 3px;
    padding-right: 5px;
    padding-left: 5px;
    color: $text-color;
    border: 0.5px solid $accent-color;
    background-color: $accent-color;
    line-height: 1.5em;
    font-size: 0.8em;
    border-radius: 5px;
    align-items: center;
    font-weight: bold;
  }
}

@import './taglist.mobile.scss';
