@import '../../../style/theme.scss';

.bar {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 2em;
  border-top: 1px solid $line-color;
  border-bottom: 1px solid $line-color;
  padding-top: 10px;
  padding-bottom: 10px;
  h1 {
    font-size: 1em;
    font-style: italic;
  }
}

.icon {
  width: 84px;
  margin-left: 20px;
  margin-right: 20px;
}
