/* Colors */
.accent {
  color: #db5d1e;
}
.background-low {
  color: #333333;
}
.primary {
  color: #3264ff;
}
.secondary {
  color: #2bacbd;
}
.text {
  color: #d1e1e6;
}
.background-high {
  color: #151122;
}
