@import '../../style/colors.scss';

.blog {
  //margin: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.blog .latest {
  margin-bottom: 40px;
}

.blog h2 {
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 1.8em;
  line-height: 2em;
  font-style: italic;
  border-bottom: 1px solid rgba(209, 225, 230, 0.1);
}

@import './blog.mobile.scss';
