@import '../../../style/colors.scss';

.blog .title {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.8em;
  color: $primary-color;
  background: -webkit-linear-gradient($secondary-color, $primary-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
}

.blog p {
  font-weight: lighter;
  line-height: 1.5em;
  padding-bottom: 10px;
  strong {
    font-weight: normal;
    color: $accent-color;
  }
}

.blog .more {
  display: flex;
  font-weight: normal;
  color: $accent-color;
  padding-bottom: 10px;
}

.fa-icon {
  margin-right: 0.5em;
}

.blog .datetime {
  font-weight: bold;
  color: $text-color;
  background-color: transparent;

  font-size: 0.9em;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: max-content;
}

.credits {
  text-align: right;
  font-size: 0.8em;
  font-weight: lighter;
  font-style: italic;
  line-height: 1.2em;
  a {
    font-weight: normal;
  }
}

@import './entry.mobile.scss';
