@import "../../../style/colors.scss";

.section {
  display: block;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  h1 {
    background: -webkit-linear-gradient($primary-color, $secondary-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    letter-spacing: 0.1em;
  }
}

@import "./title.mobile.scss";
